In [1]:
#In this assignment, you'll get to use what you've learned this week to evaluate the 
#performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500 Index.

In [2]:
#Import necessary packages
import pandas
import numpy
import datetime
from pathlib import Path

%matplotlib inline

In [3]:
#In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps.
#After cleaning, combine all DataFrames into a single DataFrame.

In [4]:
import os
os.getcwd()

'C:\\Users\\wanda\\Pandas-homework'

In [5]:
#Creating filepaths and reading files using pandas

whale_path = Path("~/Pandas-homework/Resources/whale_returns.csv")
algo_path = Path("~/Pandas-homework/Resources/algo_returns.csv")
sp500_path = Path("~/Pandas-homework/Resources/sp500_history.csv")

whale_df = pandas.read_csv(whale_path)
algo_df = pandas.read_csv(algo_path)
sp500_df = pandas.read_csv(sp500_path)

In [6]:
#Whale Returns
#Read the Whale Portfolio daily returns and clean the data

In [7]:
# Reading whale returns
whale_df.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [8]:
# Count nulls
whale_df.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [9]:
# Drop nulls
whale_df.dropna(inplace=True)

In [10]:
#Recount nulls to verify
whale_df.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [11]:
#Algorithmic Daily Returns
#Read the algorithmic daily returns and clean the data

In [12]:
# Reading algorithmic returns
algo_df.head()

         Date    Algo 1  Algo 2
0  2014-05-28  0.001745     NaN
1  2014-05-29  0.003978     NaN
2  2014-05-30  0.004464     NaN
3  2014-06-02  0.005692     NaN
4  2014-06-03  0.005292     NaN

In [13]:
# Count nulls
algo_df.isnull().sum()

Date      0
Algo 1    0
Algo 2    6
dtype: int64

In [14]:
# Drop nulls
algo_df.dropna(inplace=True)

In [15]:
#Recount nulls to verify
algo_df.isnull().sum()

Date      0
Algo 1    0
Algo 2    0
dtype: int64

In [16]:
#S&P 500 Returns¶
#Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [17]:
# Reading S&P 500 Closing Prices
sp500_df.head()

        Date     Close
0  23-Apr-19  $2933.68
1  22-Apr-19  $2907.97
2  18-Apr-19  $2905.03
3  17-Apr-19  $2900.45
4  16-Apr-19  $2907.06

In [18]:
# Check Data Types
sp500_df.dtypes

Date     object
Close    object
dtype: object

In [19]:
sp500_df['Close'].convert_dtypes()

0       $2933.68
1       $2907.97
2       $2905.03
3       $2900.45
4       $2907.06
          ...
1644    $1460.93
1645    $1461.40
1646    $1450.99
1647    $1445.75
1648    $1444.49
Name: Close, Length: 1649, dtype: string

In [20]:
# Fix Data Types
sp500_df['Close'] = pandas.Series(sp500_df['Close']).str.replace('$','').astype(float)

<ipython-input-20-a3b83f985a4d>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  sp500_df['Close'] = pandas.Series(sp500_df['Close']).str.replace('$','').astype(float)

In [21]:
sp500_df.set_index(pandas.to_datetime(sp500_df['Date'], infer_datetime_format=True), inplace=True)
sp500_df.drop(columns=['Date'], inplace=True)

In [22]:
#Check new types
sp500_df.dtypes

Close    float64
dtype: object

In [23]:
#Checking dataframe
sp500_df.head()

              Close
Date
2019-04-23  2933.68
2019-04-22  2907.97
2019-04-18  2905.03
2019-04-17  2900.45
2019-04-16  2907.06

In [24]:
# Calculate Daily Returns
sp500_daily_returns = sp500_df.pct_change()
sp500_daily_returns.head()

               Close
Date
2019-04-23       NaN
2019-04-22 -0.008764
2019-04-18 -0.001011
2019-04-17 -0.001577
2019-04-16  0.002279

In [25]:
# Drop nulls
sp500_daily_returns.dropna(inplace=True)
sp500_daily_returns.isnull().sum()

Close    0
dtype: int64

In [27]:
# Rename `Close` Column to be specific to this portfolio.
columns = ["Daily Returns"]
sp500_daily_returns.columns = columns

In [28]:
#checking DF
sp500_daily_returns.head()

            Daily Returns
Date
2019-04-22      -0.008764
2019-04-18      -0.001011
2019-04-17      -0.001577
2019-04-16       0.002279
2019-04-15      -0.000509